@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
  background-color: #26547c;
  font-family: 'Lexend Deca', sans-serif;
}

.color {
  color: white;
}
.title{
  text-align:center;
}

.cyan {
  margin-left: 50px;
  margin-top: 75px;
}

.purple {
  margin-left: 45px;
  margin-top: 35px;
}

.green {
  margin-left: 30px;
  margin-top: 36px;
}

.pink {
  margin-left: 35px;
  margin-top: 75px;
}

.container {
  margin-left: 40%;
  margin-top: 2%;
  width: 500px;
  height: 500px;
}

.slicebl {
  float: left;
  width: 150px;
  height: 150px;
  background-color: #5b1865;
  border-bottom-left-radius: 100%;
  box-shadow: 0px 0px 8px;
}

.slicebr {
  float: left;
  width: 150px;
  height: 150px;
  background-color: #8fc93a;
  border-bottom-right-radius: 100%;
  box-shadow: 0px 0px 8px;
}

.slicetl {
  float: left;
  width: 150px;
  height: 150px;
  background-color: #06d6a0;
  border-top-left-radius: 100%;
  box-shadow: 0px 0px 8px;
}

.slicetr {
  overflow: hidden;
  width: 150px;
  height: 150px;
  background-color: #ef476f;
  border-top-right-radius: 100%;
  box-shadow: 0px 0px 8px;
}